# 6.1 Melbourne Housing Project - Data Cleaning and Profiling

### This script contains the following:

#### 1. Import libraries
#### 2. Import data
#### 3. Data wrangling 
#### 4. Data consistency checks and cleaning 
#### 5. Data profiling
#### 6. Export data

## 01. Import libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

## 02. Import data

In [2]:
# Import data

path = r'C:\Users\Amy Yip\Desktop\Career Foundry Data Analytics\Achievement 6 Advanced Analytics and Dashboard Designs\07-05-2022 Melbourne Housing Analysis'

df_housing = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'Melbourne_housing_FULL_updated.csv'), index_col = False)

In [3]:
df_housing.shape

(34857, 22)

In [4]:
pd.options.display.max_columns = None

In [5]:
df_housing.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,CouncilArea1,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,2.0,1.0,1.0,126.0,NaN,NaN,Yarra City Council,Yarra,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra City Council,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,3.0,2.0,1.0,0.0,NaN,NaN,Yarra City Council,Yarra,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0

In [6]:
df_housing.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,34857.000000,2.724700e+04,34856.000000,34856.000000,26640.000000,26631.000000,26129.000000,23047.000000,13742.00000,15551.000000,26881.000000,26881.000000,34854.000000
mean,3.031012,1.050173e+06,11.184929,3116.062859,3.084647,1.624798,1.728845,593.598993,160.25640,1965.289885,-37.810634,145.001851,7572.888306
std,0.969933,6.414671e+05,6.788892,109.023903,0.980690,0.724212,1.010771,3398.841946,401.26706,37.328178,0.090279,0.120169,4428.090313
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1196.000000,-38.190430,144.423790,83.000000
25%,2.000000,6.350000e+05,6.400000,3051.000000,2.000000,1.000000,1.000000,224.000000,102.00000,1940.000000,-37.862950,144.933500,4385.000000
50%,3.000000,8.700000e+05,10.300000,3103.000000,3.000000,2.000000,2.000000,521.000000,136.00000,1970.000000,-37.807600,145.007800,6763.000000
75%,4.000000,1.295000e+06,14.000000,3156.000000,4.000000,2.000000,2.000000,670.000000,188.00000,2000.000000,-37.754100,145.071900,10412.000000
max,16.000000,1.120000e+07,48.100000,3978.000000,30.000000,12.000000,26.000000,433014.000000,44515.00000,2106.000000,-37.390200,145.526350,21650.000000

Does not makes sense for the minimum SoldPrice to be at $1. Will need to be cleaned.

## 03. Data wrangling

In [7]:
# Drop 'Id' column since it is irrelevant to the analysis

df_housing = df_housing.drop(columns = ['Address', 'Method', 'SellerG', 'Bedroom2'])

In [8]:
df_housing.shape

(34857, 18)

In [9]:
df_housing.head()

,Suburb,Rooms,Type,Price,Date,Distance,Postcode,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,CouncilArea1,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,2,h,NaN,3/09/2016,2.5,3067.0,1.0,1.0,126.0,NaN,NaN,Yarra City Council,Yarra,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,2,h,1480000.0,3/12/2016,2.5,3067.0,1.0,1.0,202.0,NaN,NaN,Yarra City Council,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,2,h,1035000.0,4/02/2016,2.5,3067.0,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,3,u,NaN,4/02/2016,2.5,3067.0,2.0,1.0,0.0,NaN,NaN,Yarra City Council,Yarra,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,3,h,1465000.0,4/03/2017,2.5,3067.0,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0

In [10]:
# Rename columns for consistency

df_housing.rename(columns = {'Rooms':'Num of Rooms', 
                             'Type':'Property Type', 
                             'Date':'Date Sold', 
                             'Distance':'Distance to CBD', 
                             'Bathroom':'Num of Bathrooms', 
                             'Car':'Num of Car Spaces', 
                             'Landsize':'Land Size', 
                             'BuildingArea':'Property Area Size', 
                             'YearBuilt':'Year Built', 
                             'CouncilArea':'Council Area',
                             'CouncilArea1':'Council Area1',
                             'Lattitude':'Latitude',
                             'Longtitude':'Longitude',
                             'Regionname':'Region', 
                             'Propertycount':'Property Vicinity Count'
                                }, inplace = True)

In [11]:
df_housing.head()

,Suburb,Num of Rooms,Property Type,Price,Date Sold,Distance to CBD,Postcode,Num of Bathrooms,Num of Car Spaces,Land Size,Property Area Size,Year Built,Council Area,Council Area1,Latitude,Longitude,Region,Property Vicinity Count
0,Abbotsford,2,h,NaN,3/09/2016,2.5,3067.0,1.0,1.0,126.0,NaN,NaN,Yarra City Council,Yarra,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,2,h,1480000.0,3/12/2016,2.5,3067.0,1.0,1.0,202.0,NaN,NaN,Yarra City Council,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,2,h,1035000.0,4/02/2016,2.5,3067.0,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,3,u,NaN,4/02/2016,2.5,3067.0,2.0,1.0,0.0,NaN,NaN,Yarra City Council,Yarra,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,3,h,1465000.0,4/03/2017,2.5,3067.0,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0

In [12]:
df_housing.shape

(34857, 18)

In [13]:
# Reorder columns

df_housing1 = df_housing[['Date Sold', 
                          'Price', 
                          'Year Built', 
                          'Land Size', 
                          'Property Area Size', 
                          'Property Type', 
                          'Num of Rooms', 
                          'Num of Bathrooms', 
                          'Num of Car Spaces', 
                          'Distance to CBD', 
                          'Suburb',
                          'Postcode',
                          'Council Area', 
                          'Council Area1', 
                          'Latitude', 
                          'Longitude', 
                          'Region', 
                          'Property Vicinity Count']]

In [14]:
df_housing1.shape

(34857, 18)

In [15]:
df_housing1.head()

,Date Sold,Price,Year Built,Land Size,Property Area Size,Property Type,Num of Rooms,Num of Bathrooms,Num of Car Spaces,Distance to CBD,Suburb,Postcode,Council Area,Council Area1,Latitude,Longitude,Region,Property Vicinity Count
0,3/09/2016,NaN,NaN,126.0,NaN,h,2,1.0,1.0,2.5,Abbotsford,3067.0,Yarra City Council,Yarra,-37.8014,144.9958,Northern Metropolitan,4019.0
1,3/12/2016,1480000.0,NaN,202.0,NaN,h,2,1.0,1.0,2.5,Abbotsford,3067.0,Yarra City Council,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
2,4/02/2016,1035000.0,1900.0,156.0,79.0,h,2,1.0,0.0,2.5,Abbotsford,3067.0,Yarra City Council,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
3,4/02/2016,NaN,NaN,0.0,NaN,u,3,2.0,1.0,2.5,Abbotsford,3067.0,Yarra City Council,Yarra,-37.8114,145.0116,Northern Metropolitan,4019.0
4,4/03/2017,1465000.0,1900.0,134.0,150.0,h,3,2.0,0.0,2.5,Abbotsford,3067.0,Yarra City Council,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0

In [16]:
# Replace acronyms in 'Property Type' column with full text

df_housing1['Property Type'].replace({'h': 'house/cottage/villa/terrace', 
                                      't': 'townhouse', 
                                      'u':'unit/duplex'}, inplace=True, regex=True)

C:\Users\Amy Yip\anaconda3\lib\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [17]:
df_housing1.head()

,Date Sold,Price,Year Built,Land Size,Property Area Size,Property Type,Num of Rooms,Num of Bathrooms,Num of Car Spaces,Distance to CBD,Suburb,Postcode,Council Area,Council Area1,Latitude,Longitude,Region,Property Vicinity Count
0,3/09/2016,NaN,NaN,126.0,NaN,house/cottage/villa/terrace,2,1.0,1.0,2.5,Abbotsford,3067.0,Yarra City Council,Yarra,-37.8014,144.9958,Northern Metropolitan,4019.0
1,3/12/2016,1480000.0,NaN,202.0,NaN,house/cottage/villa/terrace,2,1.0,1.0,2.5,Abbotsford,3067.0,Yarra City Council,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
2,4/02/2016,1035000.0,1900.0,156.0,79.0,house/cottage/villa/terrace,2,1.0,0.0,2.5,Abbotsford,3067.0,Yarra City Council,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
3,4/02/2016,NaN,NaN,0.0,NaN,unit/duplex,3,2.0,1.0,2.5,Abbotsford,3067.0,Yarra City Council,Yarra,-37.8114,145.0116,Northern Metropolitan,4019.0
4,4/03/2017,1465000.0,1900.0,134.0,150.0,house/cottage/villa/terrace,3,2.0,0.0,2.5,Abbotsford,3067.0,Yarra City Council,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0

In [18]:
# Check data types
df_housing1.dtypes

Date Sold                   object
Price                      float64
Year Built                 float64
Land Size                  float64
Property Area Size         float64
Property Type               object
Num of Rooms                 int64
Num of Bathrooms           float64
Num of Car Spaces          float64
Distance to CBD            float64
Suburb                      object
Postcode                   float64
Council Area                object
Council Area1               object
Latitude                   float64
Longitude                  float64
Region                      object
Property Vicinity Count    float64
dtype: object

In [19]:
# Changing data type

df_housing1['Year Built'] = df_housing1['Year Built'].astype('object')

In [20]:
df_housing1['Year Built'].dtype

dtype('O')

In [21]:
# Changing data type

df_housing1['Postcode'] = df_housing1['Postcode'].astype('object')

In [22]:
df_housing1['Postcode'].dtype

dtype('O')

In [23]:
df_housing1.shape

(34857, 18)

## 04. Data consistency checks and cleaning

In [24]:
# Check for mixed types data

for col in df_housing1.columns.tolist():
  weird = (df_housing1[[col]].applymap(type) != df_housing1[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_housing1[weird]) > 0:
    print (col)

Council Area
Council Area1
Region

In [25]:
# Changing data type

df_housing1['Council Area'] = df_housing1['Council Area'].astype('object')

In [26]:
df_housing1['Council Area'].dtype

dtype('O')

In [27]:
# Changing data type

df_housing1['Council Area1'] = df_housing1['Council Area1'].astype('object')

In [28]:
df_housing1['Council Area1'].dtype

dtype('O')

In [29]:
# Changing data type

df_housing1['Region'] = df_housing1['Region'].astype('object')

In [30]:
df_housing1['Region'].dtype

dtype('O')

In [31]:
# Re-Check for mixed types data

for col in df_housing1.columns.tolist():
  weird = (df_housing1[[col]].applymap(type) != df_housing1[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_housing1[weird]) > 0:
    print (col)

Council Area
Council Area1
Region

In [32]:
# Check for missing values

df_housing1.isnull().sum()

Date Sold                      0
Price                       7610
Year Built                 19306
Land Size                  11810
Property Area Size         21115
Property Type                  0
Num of Rooms                   0
Num of Bathrooms            8226
Num of Car Spaces           8728
Distance to CBD                1
Suburb                         0
Postcode                       1
Council Area                   3
Council Area1                  3
Latitude                    7976
Longitude                   7976
Region                         3
Property Vicinity Count        3
dtype: int64

In [33]:
# Create a subset of the dataframe NOT containing the missing values from 'Price'

df_housing_clean = df_housing1[df_housing1['Price'].isnull() == False]

In [34]:
# Create a subset of the dataframe NOT containing the missing values from 'Distance to CBD'

df_housing_clean1 = df_housing_clean[df_housing_clean['Distance to CBD'].isnull() == False]

In [35]:
# Create a subset of the dataframe NOT containing the missing values from 'Num of Bathrooms'

df_housing_clean2 = df_housing_clean1[df_housing_clean1['Num of Bathrooms'].isnull() == False]

In [36]:
# Create a subset of the dataframe NOT containing the missing values from 'Num of Car Spaces'

df_housing_clean3 = df_housing_clean2[df_housing_clean2['Num of Car Spaces'].isnull() == False]

In [37]:
df_housing_clean3.head()

,Date Sold,Price,Year Built,Land Size,Property Area Size,Property Type,Num of Rooms,Num of Bathrooms,Num of Car Spaces,Distance to CBD,Suburb,Postcode,Council Area,Council Area1,Latitude,Longitude,Region,Property Vicinity Count
1,3/12/2016,1480000.0,NaN,202.0,NaN,house/cottage/villa/terrace,2,1.0,1.0,2.5,Abbotsford,3067.0,Yarra City Council,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
2,4/02/2016,1035000.0,1900.0,156.0,79.0,house/cottage/villa/terrace,2,1.0,0.0,2.5,Abbotsford,3067.0,Yarra City Council,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
4,4/03/2017,1465000.0,1900.0,134.0,150.0,house/cottage/villa/terrace,3,2.0,0.0,2.5,Abbotsford,3067.0,Yarra City Council,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
5,4/03/2017,850000.0,NaN,94.0,NaN,house/cottage/villa/terrace,3,2.0,1.0,2.5,Abbotsford,3067.0,Yarra City Council,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
6,4/06/2016,1600000.0,2014.0,120.0,142.0,house/cottage/villa/terrace,4,1.0,2.0,2.5,Abbotsford,3067.0,Yarra City Council,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [38]:
df_housing_clean3.shape

(20423, 18)

In [39]:
# Check for duplicates

df_dups = df_housing_clean3[df_housing_clean3.duplicated()]

In [40]:
# Displays all duplocate rows:

df_dups

,Date Sold,Price,Year Built,Land Size,Property Area Size,Property Type,Num of Rooms,Num of Bathrooms,Num of Car Spaces,Distance to CBD,Suburb,Postcode,Council Area,Council Area1,Latitude,Longitude,Region,Property Vicinity Count
12655,29/04/2017,720000.0,2016.0,531.0,112.0,townhouse,3,2.0,2.0,7.8,Coburg,3058.0,Darebin City Council,Darebin,-37.7424,144.9571,Northern Metropolitan,11204.0

In [41]:
# Create a new dataframe that doesnt include the duplicates:

df_housing_clean_no_dups = df_housing_clean3.drop_duplicates()

In [42]:
df_housing_clean_no_dups.shape

(20422, 18)

## Removing corrupted / outlier data

In [43]:
# Remove rows with 'Price' > 8000000

df_housing_clean_no_dups1 = df_housing_clean_no_dups[~(df_housing_clean_no_dups['Price'] > 8000000)]

In [44]:
df_housing_clean_no_dups1.shape

(20420, 18)

In [45]:
# Remove rows with 'Land Size' > 

df_housing_clean_no_dups2 = df_housing_clean_no_dups1[((df_housing_clean_no_dups1['Land Size'] > 10)&(df_housing_clean_no_dups1['Land Size'] < 1500))]

In [46]:
df_housing_clean_no_dups2.shape

(15364, 18)

In [47]:
# Remove rows with 'Num of Car Spaces' >=18

df_housing_clean_no_dups3 = df_housing_clean_no_dups2[~(df_housing_clean_no_dups2['Num of Car Spaces'] >= 18)]

In [48]:
df_housing_clean_no_dups3.shape

(15363, 18)

In [49]:
# Remove rows with 'Building Area Size' >3000

df_housing_clean_no_dups4 = df_housing_clean_no_dups3[~(df_housing_clean_no_dups3['Property Area Size'] > 3000)]

In [50]:
df_housing_clean_no_dups4.shape

(15360, 18)

In [51]:
# Remove rows with 'Building Area Size' <15

df_housing_clean_no_dups5 = df_housing_clean_no_dups4[(df_housing_clean_no_dups4['Property Area Size'] >= 15)]

In [71]:
df_housing_clean_no_dups5.shape

(7893, 18)

In [52]:
# Remove rows with 'Year Built' < 1196

df_housing_clean_no_dups6 = df_housing_clean_no_dups5[~(df_housing_clean_no_dups5['Year Built'] <= 1196)]

In [53]:
df_housing_clean_no_dups5.shape

(7893, 18)

## 05. Create filtered dataframes

In [54]:
# Re-Check for missing values

df_housing_clean_no_dups5.isnull().sum()

Date Sold                    0
Price                        0
Year Built                 269
Land Size                    0
Property Area Size           0
Property Type                0
Num of Rooms                 0
Num of Bathrooms             0
Num of Car Spaces            0
Distance to CBD              0
Suburb                       0
Postcode                     0
Council Area                 0
Council Area1                0
Latitude                     7
Longitude                    7
Region                       0
Property Vicinity Count      0
dtype: int64

In [55]:
df_land_size = df_housing_clean_no_dups5[df_housing_clean_no_dups5['Land Size'].isnull() == False]

In [56]:
df_land_size.shape

(7893, 18)

In [57]:
df_property_area_size = df_housing_clean_no_dups5[df_housing_clean_no_dups5['Property Area Size'].isnull() == False]

In [58]:
df_property_area_size.shape

(7893, 18)

In [59]:
df_year_built = df_housing_clean_no_dups5[df_housing_clean_no_dups5['Year Built'].isnull() == False]

In [60]:
df_year_built.shape

(7624, 18)

## 05. Data Profiling

In [61]:
df_housing_clean_no_dups5.shape

(7893, 18)

In [62]:
df_housing_clean_no_dups5.describe()

,Price,Land Size,Property Area Size,Num of Rooms,Num of Bathrooms,Num of Car Spaces,Distance to CBD,Latitude,Longitude,Property Vicinity Count
count,7.893000e+03,7893.000000,7893.000000,7893.000000,7893.000000,7893.000000,7893.000000,7886.000000,7886.000000,7893.000000
mean,1.155043e+06,497.823261,161.232990,3.256937,1.704928,1.769923,11.904358,-37.802113,144.992158,7345.382364
std,6.727901e+05,246.117404,83.328874,0.880098,0.734338,0.989695,6.852986,0.094686,0.125126,4382.864961
min,1.310000e+05,15.000000,15.000000,1.000000,1.000000,0.000000,0.000000,-38.174360,144.423790,389.000000
25%,7.000000e+05,290.000000,110.000000,3.000000,1.000000,1.000000,7.300000,-37.859988,144.912100,4181.000000
50%,9.605000e+05,533.000000,140.000000,3.000000,2.000000,2.000000,11.000000,-37.794200,145.001800,6482.000000
75%,1.410000e+06,659.000000,190.000000,4.000000,2.000000,2.000000,14.500000,-37.741700,145.072072,10175.000000
max,6.500000e+06,1491.000000,1041.000000,12.000000,9.000000,10.000000,47.400000,-37.399460,145.526350,21650.000000

In [63]:
df_housing_clean_no_dups5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7893 entries, 2 to 34856
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date Sold                7893 non-null   object
 1   Price                    7893 non-null   float64
 2   Year Built               7624 non-null   object
 3   Land Size                7893 non-null   float64
 4   Property Area Size       7893 non-null   float64
 5   Property Type            7893 non-null   object
 6   Num of Rooms             7893 non-null   int64
 7   Num of Bathrooms         7893 non-null   float64
 8   Num of Car Spaces        7893 non-null   float64
 9   Distance to CBD          7893 non-null   float64
 10  Suburb                   7893 non-null   object
 11  Postcode                 7893 non-null   object
 12  Council Area             7893 non-null   object
 13  Council Area1            7893 non-null   object
 14  Latitude                 7886 non-null   float64
 15  Longitude                7886 non-null   float64
 16  Region                   7893 non-null   object
 17  Property Vicinity Count  7893 non-null   float64
dtypes: float64(9), int64(1), object(8)
memory usage: 1.1+ MB

In [64]:
df_housing_clean_no_dups5.dtypes

Date Sold                   object
Price                      float64
Year Built                  object
Land Size                  float64
Property Area Size         float64
Property Type               object
Num of Rooms                 int64
Num of Bathrooms           float64
Num of Car Spaces          float64
Distance to CBD            float64
Suburb                      object
Postcode                    object
Council Area                object
Council Area1               object
Latitude                   float64
Longitude                  float64
Region                      object
Property Vicinity Count    float64
dtype: object

## 06. Export data

In [65]:
df_housing_clean_no_dups5.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', '6.1_melb_housing_clean_data_new.pkl'))

In [66]:
df_land_size.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', '6.1_melb_housing_landsize_subset.pkl'))

In [67]:
df_property_area_size.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', '6.1_melb_housing_propertyareasize_subset.pkl'))

In [68]:
df_year_built.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', '6.1_melb_housing_yearbuilt_subset.pkl'))

In [69]:
# Export as excel file

df_housing_clean_no_dups5.to_excel(os.path.join(path, '02 Data', 'Prepared Data', '6.1_melb_housing_clean_data_new.xlsx'), index = False, header=True)